// core color
$dark-blue: #004182;
$green: #44712e;
$dark-amber: #915907;
$dark-warm-red: #b24020;
$dark-gray: #38434f;
$linkedin-blue: #0a66c2;
$lime-green: #83941f;
$amber: #e7a33e;
$warm-red: #f5987e;
$cool-gray: #56687a;
$light-blue: #dce6f1;
$light-sage: #d7ebce;
$light-amber: #fce2ba;
$light-warm-red: #fadfd8;
$light-gray: #e9e5df;
// background
$off-white:#fcfaf6;
