input {
    height: 96px;
    border-radius: 8px;
    padding: 28px 32px;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.32px;
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.6);
    &:focus {
      outline-width: 0;
    }
  }