.RuleShadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  display: none;
  .RuleCont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 512px;
    height: 670px;
    background: #fff;
    padding: 60px 30px;
    box-sizing: border-box;
    overflow: hidden;
    ::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &__CloseIcon {
      position: absolute;
      right: 24px;
      top: 24px;
      width: 24px;
      height: 24px;
      background: center / cover no-repeat url('../images/x.png');
      -webkit-tap-highlight-color: transparent;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .RuleContainer {
      overflow-y: scroll;
      height: 480px;
      margin-bottom: 20px;
      &__Title {
        font-size: 28px;
        line-height: 55px;
        font-weight: bold;
      }
      &__BulletTitle {
        font-size: 24px;
        line-height: 50px;
        font-weight: bold;
      }
      &__BulletDesc {
        font-size: 24px;
        font-weight: normal;
        line-height: 42px;
        margin: 10px 0;
      }
    }
    .CloseBtn {
      height: 90px;
      background: #0a66c2;
      border-radius: 90px;
      text-align: center;
      color: #fff;
      line-height: 90px;
      font-size: 32px;
    }
  }
}
