.toast_box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #4c4c4c;
  color: #fff;
  padding: 25px 95px;
  border-radius: 24px;
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
}
